<div class="container mt-5">
    <div class="alert  alert-warning" *ngIf="items.length == 0">
        <h4 class="alert-heading">No Items!</h4>
        <p class="mb-0">There is no items in your basket.</p>
    </div>
    <div class="container" *ngIf="items.length > 0">
        <div class="row">
            <app-basket-summary (addItem)="incrementQuantity($event)" (removeItem)="removeItem($event)">

            </app-basket-summary>
        </div>
        <div class="row">
            <div class="col-6 offset-6">
                <app-order-total></app-order-total>
                <div class="d-grid">
                    <a routerLink="/checkout" class="btn btn-outline-primary py-2">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

