<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-5">
        <h1 class="mb-3">Register</h1>
      </div>

      
      <div class="alert alert-dismissible alert-danger" *ngIf="invalidData">
        <button type="button" (click)="hideAlert()" class="btn-close"></button>
        <strong><i class="fa-solid fa-circle-exclamation"></i>
            <i class="fa fa-exclamation-circle me-1"></i> Invalid data!</strong>
    </div>
    


      <div class="form-floating mb-3">
        <input
          [class.is-invalid]="(getDisplayName.hasError('required')||getDisplayName.hasError('minlength')) && getDisplayName.touched"
          formControlName="displayName"
          type="displayName"
          class="form-control"
          id="floatingdisplayName"
          placeholder="Name"
        />
        <label for="floatingdisplayName">Display Name</label>
        <ng-container *ngIf="getDisplayName.touched">
            <span class="text-danger"
            *ngIf="getDisplayName.hasError('required')"
            >Display Name is required
          </span>
          <span class="text-danger"
            *ngIf="getDisplayName.hasError('minlength')"
            >Name must be more than 3 characters
          </span>
  
        </ng-container>
      </div>

      <div class="form-floating mb-3">
        <input
          [class.is-invalid]="(getEmail.hasError('required')||getEmail.hasError('email')) && getEmail.touched"
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingEmail"
          placeholder="name@example.com"
        />
        <label for="floatingEmail">Email Address</label>
        <ng-container *ngIf="getEmail.touched">
            <span
            class="text-danger"
            *ngIf="getEmail.hasError('required')"
            >Email is required</span
          >
          <span
            class="text-danger"
            *ngIf="getEmail.hasError('email')"
            >Invalid Email</span
          >
  
        </ng-container>
      </div>

      <div class="form-floating">
        <input
          [class.is-invalid]="getPassword.hasError('required') && getPassword.touched"
          formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
        <span
          class="text-danger"
          *ngIf="getPassword.hasError('required') && getPassword.touched"
          >Password is required</span
        >
      </div>

      <div class="d-grid">
        <button
          [disabled]="registerationForm.status == 'INVALID'"
          class="btn btn-lg btn-primary mt-3"
          type="submit"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>
