<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Shop App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarColor01"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <a class="position-relative mt-1" routerLink="/basket">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="cart-no" *ngIf="count > 0">{{ count }}</div>
        </a>
        <li class="nav-item" *ngIf="!currentUser">
          <a 
            class="nav-link"
            routerLink="/login"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login
          </a>
        </li>
        <li class="nav-item" *ngIf="!currentUser">
          <a 
            class="nav-link"
            routerLink="/register"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Sign up
          </a>
        </li>


        <ng-container *ngIf="currentUser">
          <ul class="nav nav-pills">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle not-muted" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><strong>Welcome {{currentUser.displayName}}</strong></a>
              <div class="dropdown-menu bg-light" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);" data-popper-placement="bottom-start">
                <!-- <h6 class="dropdown-header">Dropdown header</h6> -->
                <a routerLink="/basket" class="dropdown-item">
                  <i class="fa fa-shopping-cart me-3"></i> View basket
                </a>
                <a routerLink="/orders" class="dropdown-item">
                  <i class="fa fa-history me-3"></i> View orders
                </a>
                <div class="dropdown-divider"></div>
                <a (click)="accountService.logout()" class="dropdown-item">
                  <i class="fa fa-sign-out me-3"></i> Logout
                </a>
              </div>
            </li>
          </ul>
          <!-- <div class="btn-group ms-3 me-5" dropdown style="cursor: pointer;">
            <a id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Button dropdown <span class="caret"></span>
            </a>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
                <li class="py-1">
                  <a routerLink="/basket" class="dropdown-item">
                    <i class="fa fa-shopping-cart me-3"></i> View basket
                  </a>
                </li>
                <li class="py-1">
                  <a routerLink="/orders" class="dropdown-item">
                    <i class="fa fa-history me-3"></i> View orders
                  </a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="py-1">
                  <a (click)="accountService.logout()" class="dropdown-item">
                    <i class="fa fa-sign-out me-3"></i> Logout
                  </a>
                </li>
              </ul>
          </div> -->

          <!-- <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
            <a class="dropdown-toggle">
              <strong>Welcome {{currentUser.displayName}}</strong>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li class="py-1">
                <a routerLink="/basket" class="dropdown-item">
                  <i class="fa fa-shopping-cart me-3"></i> View basket
                </a>
              </li>
              <li class="py-1">
                <a routerLink="/orders" class="dropdown-item">
                  <i class="fa fa-history me-3"></i> View orders
                </a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="py-1">
                <a (click)="accountService.logout()" class="dropdown-item">
                  <i class="fa fa-sign-out me-3"></i> Logout
                </a>
              </li>
            </ul>
          </div> -->
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
